@use 'variaveis';

.header {
    padding: 0 5.6vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;


    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            @keyframes blink {
                0% {opacity: 1.0;}
                50% {opacity: 0.0;}
                100% {opacity: 1.0;}
            }

            animation: blink 2s infinite;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }

    .button {
        padding: 16px;
        border-radius: 8px;
        background-color: variaveis.$corFundoButton;
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        color: variaveis.$corTextoPrincipal;
        text-decoration: none;

        &:hover {
            background-color:variaveis.$corFundoButtonH;
        }            
    }
}